<!doctype html>
<html>
<head>
	<link rel="shortcut icon" href="http://antifavicon.com/genicon2.cgi?txttop=
	%26&txtbot=&fgtop=%23FFFFFF&fgbot=%23FFFFFF&bgtop=%2300a2e2&bgbot=%2300a2e2&bcolor=%23000000&
	drawborder=no" />
	<title>&Attend</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    	<!-- jQuery library -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<!-- Latest compiled JavaScript -->
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="styles/edufrenzy.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet" 
    	integrity="sha256-obxCG8hWR3FEKvV19p/G6KgEYm1v/u1FnRTS7Bc4Ii8= sha512-8Xs5FuWgtHH1JXye8aQcxVEtLqoz
    	JQAu8nhPymuRqeEslT6nJ2OgEYeS3cKiXasOVxYPN80DDoOTKWgOafU1LQ==" crossorigin="anonymous">
	
	
	<script>
	TogetherJSConfig_siteName="Edufrenzy";
	TogetherJSConfig_toolName="Communication";
	TogetherJSConfig_findRoom="Text";
	TogetherJSConfig_suppressJoinConfirmation=true;
	TogetherJSConfig_suppressInvite=true;
	TogetherJSConfig_autoStart=true;
	</script>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
</head>
<body>
<h3>Universal Mode</h3>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-info disabled">Universal Mode</a>
  <a href="accounting.html" class="btn btn-danger">Accounting Mode</a>
</div>

<div>
<textarea ng-model="message" cols="90" rows="40"></textarea>

<p>
<button ng-click="save()">Save</button>
<button ng-click="clear()">Clear</button>
</p>

<script>
var app = angular.module("myNoteApp", []);
app.controller("myNoteCtrl", function($scope) {
    $scope.message = "";
    //$scope.left  = function() {return 110 - //$scope.message.length;};
    $scope.clear = function() {$scope.message = "";};
    $scope.save  = function() {alert("Note Saved");};
});
</script>
</div>
</body>
</html>
