body{
		background: white;
		color: rgb(0,162,232);
		font-family: franklin gothic book;
		text-align: center;
		margin: 0;
		padding-bottom: 50px;
	}
	div{
		font-size: 120%;
		margin: 32px 45px;
	}
	span{
		color: rgb(255,0,128);
	}
	span{
		color: rgb(255,0,128);
		font-size: 150%;
	}
	button{
		border-radius: 6px;
		background: rgb(0,162,232);
		color: white;
		font-weight: bold;
		font-size: 120%;
		border: none;
		cursor: pointer;
		margin: 5px;
	}
	hr{
		color: rgb(0,162,232);
		background: rgb(0,162,232);
		height: 3px;
	}
	.logo1{
		color: rgb(255,0,128);
	}
	#com{
		color: rgb(0,0,0);
		font-size: 100%;
	}
	.logo2{
		color: rgb(0,162,232);
	}
	.try{
		background: rgb(255,0,128);
		border-radius: 6px;
		color: white;
		font-weight: bolder;
		font-size: 120%;
		border: none;
		cursor: pointer;
		margin: 5px;
		padding: 5px;
		margin: 16px;
		text-decoration: none;
	}
	.try:hover{
		color:white;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration:none;
	}
	a:active{
		text-decoration:none;
	}
	.funda{
		color: rgb(0,162,232);
		font-size: 100%;
		font-weight: bold;
	}
	.app{
		color: rgb(255,0,128);
		font-size: 100%;
		font-weight: bold;
	}
	code{
		font-size: 100%;
	}
	.fb{
		background: black;
		font-weight: bold;
		padding: 2px;
	}
